<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org">
<head>
    <title>Sorry!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">

</head>

    <body>
        <div class="container">
            <h1>Sorry mate, seems that you can't use this webapp properly!</h1>
            <b><span th:if="${errorMessage}" th:text="${errorMessage}"> ERROR</span></b>
            <br>
            <img th:src="@{/resources/img/error.JPG}" alt="OH NO" width="auto" height="300px"/>
            <br>
            <br>
            <p>
                <a th:href="@{/employees}" class="btn btn-info" role="button">Go back to the main page</a>
            </p>

        </div>

    </body>
</html>